
.backGround{
    width: 100%;
    position: absolute;
}

.logo{
    padding: 385px, 33px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.container{
    position: relative;
    padding-top: 25px;
    padding-right: 45px;
    padding-bottom: 35px;
    padding-left: 15px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}

.container a{
    font-family: Myriad;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
}

.container h1{
    font-family: Myriad;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    font-weight: bold
}

.container h2{
    font-family: Myriad;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;

}

.container p{
    font-family: Myriad;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;

}